@charset "UTF-8";

/*
    em HTML é id = em css é #
    em HTML é class = em css é .
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 102, 51);
}

h2 {
    color: rgb(0, 153, 76);
}

h1#principal {
    color: white;
    background-color: green;
    text-align: center;
}

.basico {
    color: blue;
}

.intermediário {
    color: orange;
}

.avancado {
    color: red;
}