@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #2484BF, #34BF8C);
}

main {
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #2484BF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #34BF8C;
}